<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721765818275-gnupsnn46krj8p08q716rm7vn1o6nk97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721765818275-gnupsnn46krj8p08q716rm7vn1o6nk97</string>
	<key>API_KEY</key>
	<string>AIzaSyCYA7Sj792fnlu-knwFI4BJmfebnOeBeek</string>
	<key>GCM_SENDER_ID</key>
	<string>721765818275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.estheralcoceba.FirebaseChat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-esalco-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-esalco-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721765818275:ios:319a4bb741a3d2432cc416</string>
</dict>
</plist>